:root {
   --bs-primary: #fd4f00;
   --bs-primary-rgb: 253, 79, 0;
}

html {
   @media (max-width: 575.98px) {
      font-size: .875em;
   }
}

body {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   padding-top: calc(var(--runtext-height) + var(--navbar-height));

   &>main {
      flex-grow: 1;
   }
}

.navbar {
   .navbar-brand .img-logo {
      width: 50px;

      @media (min-width: 992px) {
         width: 80px;
      }
   }

   .nav-link {
      .link-icon {
         display: none;
      }

      &.active {
         color: var(--bs-primary) !important;

         &>.link-text {
            opacity: 1 !important;
         }

         @media (min-width: 992px) {
            &>.link-icon {
               display: block;
            }
         }
      }
   }
}


.footbar {
   .nav-footbar a {
      &.active {
         color: var(--bs-primary) !important;
         opacity: 1;

         .link-icon {
            visibility: visible;
         }

         .link-icon,
         .link-text {
            opacity: 1;
         }
      }

      .link-icon {
         visibility: hidden;
      }
   }

   .nav-footbar-sosmed a {
      width: 2rem;
      height: 2rem;

      .link-text {
         transform: translate(-50%, -50%) scale(1);
         opacity: 1;
         transition: .36s ease-in-out;
      }

      .link-icon {
         transform: translate(-50%, -50%) scale(1);
         transition: .36s ease-in-out;
      }

      @media (min-width: 992px) {

         &:hover .link-text,
         &:focus .link-text {
            transform: translate(-50%, -50%) scale(.5);
            opacity: 0;
         }

         &:hover .link-icon,
         &:focus .link-icon {
            transform: translate(-50%, -50%) scale(2);
         }
      }
   }
}