@font-face {
   font-family: 'GothamBook';
   src: url(../Gotham/gotham-book-webfont.woff);
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'GothamThin';
   src: url(../Gotham/gotham-thin-webfont.woff);
   font-weight: 100;
   font-style: normal;
}

@font-face {
   font-family: 'GothamLight';
   src: url(../Gotham/gotham-light-webfont.woff);
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: 'GothamMedium';
   src: url(../Gotham/gotham-medium-webfont.woff);
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'GothamBold';
   src: url(../Gotham/gotham-bold-webfont.woff);
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'GothamBlack';
   src: url(../Gotham/gotham-black-webfont.woff);
   font-weight: 900;
   font-style: normal;
}

body {
   font-family: 'GothamBook';
}

.fw-normal {
   font-family: 'GothamBook' !important;
}

.fw-thin {
   font-family: 'GothamThin' !important;
}

.fw-light {
   font-family: 'GothamLight' !important;
}

.fw-medium {
   font-family: 'GothamMedium' !important;
}

.fw-bold {
   font-family: 'GothamBold' !important;
}

.fw-Black {
   font-family: 'GothamBlack' !important;
}